In [53]:
from pyecharts.charts import Bar
import pandas as pd

df = pd.read_excel('C#.xlsx')
df.experience.value_counts()
data = df.groupby(['city','experience']).avgWage.mean().round(2).reset_index(name='salary')
data

   city experience  salary
0    上海       1-5年   13.71
1    上海      10年以上   25.00
2    上海      5-10年   21.95
3    上海         不限   10.30
4    北京       1-5年   14.56
5    北京      10年以上   39.20
6    北京      5-10年   20.74
7    北京         不限   11.35
8    广州       1-5年   11.43
9    广州      10年以上   20.00
10   广州      5-10年   18.64
11   广州         不限   10.17
12   深圳       1-5年   12.92
13   深圳      10年以上   27.92
14   深圳      5-10年   18.85
15   深圳         不限   10.17

In [122]:
data.iloc[12:16]

   city experience  salary
12   深圳       1-5年   12.92
13   深圳      10年以上   27.92
14   深圳      5-10年   18.85
15   深圳         不限   10.17

data.iloc

In [123]:
shanghai = list(data.iloc[0:4].salary)
beijing = list(data.iloc[4:8].salary)
guangzhou = list(data.iloc[8:12].salary)
shenzhen = list(data.iloc[12:16].salary)

[13.71, 25.0, 21.95, 10.3]

In [124]:
bar = Bar()
bar.add_xaxis(['1-5年', '10年以上', '5-10年', '不限'])
bar.add_yaxis('上海', shanghai)
bar.add_yaxis('北京', beijing)
bar.add_yaxis('广州', guangzhou)
bar.add_yaxis('深圳', shenzhen)
bar.render_notebook()