In [7]:
import pyecharts.charts
import pandas as pd
import glob

df = pd.read_excel('data/C#.xlsx')
df.experience.value_counts()
data = df.groupby(['city','experience']).avgWage.mean().round(2).reset_index(name='salary')
data

   city experience  salary
0    上海       1-5年   13.71
1    上海      10年以上   25.00
2    上海      5-10年   21.95
3    上海         不限   10.30
4    北京       1-5年   14.56
5    北京      10年以上   39.20
6    北京      5-10年   20.74
7    北京         不限   11.35
8    广州       1-5年   11.43
9    广州      10年以上   20.00
10   广州      5-10年   18.64
11   广州         不限   10.17
12   深圳       1-5年   12.92
13   深圳      10年以上   27.92
14   深圳      5-10年   18.85
15   深圳         不限   10.17

In [8]:
data.iloc[12:16]

   city experience  salary
12   深圳       1-5年   12.92
13   深圳      10年以上   27.92
14   深圳      5-10年   18.85
15   深圳         不限   10.17

data.iloc

In [4]:
shanghai = list(data.iloc[0:4].salary)
beijing = list(data.iloc[4:8].salary)
guangzhou = list(data.iloc[8:12].salary)
shenzhen = list(data.iloc[12:16].salary)

In [16]:
bar = (
    Bar()
    .add_xaxis(['1-5年', '10年以上', '5-10年', '不限'])
    .add_yaxis('上海', shanghai)
    .add_yaxis('北京', beijing)
    .add_yaxis('广州', guangzhou)
    .add_yaxis('深圳', shenzhen)
    .set_global_opts(title_opts={"text": "C#", "subtext": "工资与经验关系图"})
)
    
bar.render_notebook()

In [22]:
cPlusDf = pd.read_excel("data/C++.xlsx")
cPlusDf.experience.value_counts()
cPlusData = cPlusDf.groupby(['city','experience']).avgWage.mean().round(2).reset_index(name='salary')
cPlusData

   city experience  salary
0    上海       1-5年   22.25
1    上海      10年以上   28.33
2    上海      5-10年   28.71
3    上海         不限   19.17
4    上海        应届生   14.91
5    北京       1-5年   24.99
6    北京      10年以上   26.25
7    北京      5-10年   31.23
8    北京         不限   22.53
9    北京        应届生   20.90
10   广州       1-5年   21.13
11   广州      5-10年   25.45
12   广州         不限   20.05
13   广州        应届生   20.43
14   深圳       1-5年   19.17
15   深圳      10年以上   30.00
16   深圳      5-10年   27.44
17   深圳         不限   17.25
18   深圳        应届生   12.21

In [53]:
cPlusData.iloc[10:]

   city experience  salary
10   广州       1-5年   21.13
11   广州      5-10年   25.45
12   广州         不限   20.05
13   广州        应届生   20.43
14   深圳       1-5年   19.17

In [59]:
shanghai = list(cPlusData.iloc[0:5].salary)
beijing = list(cPlusData.iloc[5:10].salary)
guangzhou = list(cPlusData.iloc[10:14].salary)
shenzhen = list(cPlusData.iloc[14:19].salary)
guangzhou.insert(1, 'N/A')
guangzhou

[21.13, 'N/A', 25.45, 20.05, 20.43]

In [60]:
bar = (
    Bar()
    .add_xaxis(['1-5年', '10年以上', '5-10年', '不限', '应届生'])
    .add_yaxis('上海', shanghai)
    .add_yaxis('北京', beijing)
    .add_yaxis('广州', guangzhou)
    .add_yaxis('深圳', shenzhen)
    .set_global_opts(title_opts={"text": "C++", "subtext": "工资与经验关系图"})
)
    
bar.render_notebook()